<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.win.work.code.CodeDao">

	<resultMap id="resultMapObj" type="com.win.work.code.CodeDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
        SELECT a.cdgSeq
     		 , a.cdgName
     		 , b.cdcDelNy
     		 , b.cdcSeq
     		 , b.cdcName
     		 , b.cdcRegDt
     		 , b.cdcUdtDt
  		  FROM codegroup a
       		   LEFT JOIN code b
              		  ON b.cdgSeq = a.cdgSeq 
         WHERE 1 = 1          
         
         <if test="shDelNy != null and !shDelNy.equals('')">AND IFNULL(b.cdcDelNy, 0) = #{shDelNy}</if>
         
         <choose>
         	<when test="shOptionDate == 1">AND b.cdcRegDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
         	<when test="shOptionDate == 2">AND b.cdcUdtDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
         </choose>
         
         <choose>
         	<when test="shOption == 1">AND a.cdgName LIKE CONCAT('%', #{shValue}, '%')</when>
         	<when test="shOption == 2">AND a.cdgSeq = #{shValue}</when>
         	<when test="shOption == 3">AND b.cdcName LIKE CONCAT('%', #{shValue}, '%')</when>
         	<when test="shOption == 4">AND b.cdcSeq = #{shValue}</when>
         </choose>         
         
         ORDER BY a.cdgSeq, b.cdcSeq         
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
        SELECT a.cdgSeq
     		 , a.cdgName
     		 , b.cdcDelNy
     		 , b.cdcSeq
     		 , b.cdcName
     		 , b.cdcRegDt
     		 , b.cdcUdtDt
  		  FROM codegroup a
       		   LEFT JOIN code b
              		  ON b.cdgSeq = a.cdgSeq              		          
         WHERE 1 = 1
           AND a.cdgSeq = #{cdgSeq}
           <if test="cdcSeq != null and !cdcSeq.equals('')">AND b.cdcseq = #{cdcSeq}</if>           
	</select>
	
	<insert id="insert">
		INSERT INTO code
			( 
			  cdcName
			, cdcRegDt
			, cdcUdtDt
			, cdcDelNy
			, cdgSeq
			)
		VALUES
			(
			  #{cdcName}
			, now()
			, now()
			, 0
			, #{cdgSeq}
			)
	</insert>
	
	<update id="update">
		UPDATE code
		   SET cdcName  = #{cdcName}
		     , cdcUdtDt = now()
         WHERE 1 = 1		
           AND cdcSeq = #{cdcSeq}	
	</update>
	
	<update id="updateDelNy">
		UPDATE code
		   SET cdcUdtDt = now()
		   
		   <choose>
		   		<when test="cdcDelNy == 0">, cdcDelNy = 1</when>
		   		<when test="cdcDelNy == 1">, cdcDelNy = 0</when>
		   </choose>
         WHERE 1 = 1		
           AND cdcSeq = #{cdcSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM code
        WHERE 1 = 1		
          AND cdcSeq = #{cdcSeq}
    </delete>
    
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT cdcSeq
			 , cdcName
			 , cdgSeq
		  FROM code
		 WHERE 1=1
		   AND cdcDelNy = 0
   </select>    

</mapper>